@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f2f2f2;
}
nav{
    background: #1b1b1b;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    padding-left: 60px;
    font-weight: 600;
    line-height: 70px;
    padding-right: 300px;
}

nav ul{
    float: left;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a{
   color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}

nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
    line-height: 50px;
}

nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

.big-circle{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    opacity: 0.5;
    height: 88%;
}

.medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -2;
    height: 60%;
    opacity: 0.4;
}

.small-circle{
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: -2;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction{
    flex: 1;
}

.intro-text h1{
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cover{
    position: absolute;
    z-index: -1;
    right: 20%;
    flex: 1;
}

.cover img{
    height: 60vh;
    filter: drop-shadow(0px 5px 3px #000000);
    animation: drop 1.5s ease;
}

main{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 200px;
    height: auto;
}

form{
    padding: 1rem;
    border: solid #555555;
    background: rgba(50,50,50,0.18);
}

table.tabla{
    margin-right: auto;
    margin-left: auto;
}