# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\juice_pjuorme\Desktop\4IV8-PSW-Alcala-Rangel-Jeffrey-Alexander\PrimeraPaginaHTML5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
